<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>AOOF</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/index.css">
  <link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Pacifico|Work+Sans:300,400|Montserrat:700,800" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {

    })
  </script>
</head>

<body>
  <main>
    <div class="row px-3 py-4">
      <div class="col-2 pl-5">
        <h2 id="logo">AOOF</h2>
      </div>
      <div class="col-8">
        <ul class="nav justify-content-center desktop">
          <li class="nav-item">
            <a class="nav-link active" href="#story">OUR STORY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#work">OUR WORK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#mission">OUR MISSION</a>
          </li>
        </ul>
      </div>
      <div class="col-2 text-center">
        <button id="donate-button" class="px-4 py-2">D O N A T E</button>
      </div>
    </div>
    <nav class="nav flex-column mobile">
      <a class="nav-link active" href="#story">O U R &nbsp; S T O R Y</a>
      <a class="nav-link" href="#work">O U R &nbsp; W O R K</a>
      <a class="nav-link" href="#mission">O U R &nbsp; M I S S I O N</a>
    </nav>
    <div id="" class="quote top-quote text-center">
      <h1>Education is Freedom</h1>
      <p>- Paulo Freire</p>
    </div>
  </main>

  <section class="section" id="story">
    <div class="desktop row">
      <div class="col-6">
        <div class="row">
          <div class="col-3 header-line my-auto"></div>
          <div class="col-1 header-text my-auto text-center">0 1</div>
          <div class="col-1 header-line my-auto"></div>
          <div class="col-3 header-text my-auto text-center">O U R &nbsp; S T O R Y</div>
          <div class="col-4 header-line my-auto"></div>
        </div>
        <div class="ml-5 mt-5">
          <h4>A L E S E &nbsp; O L A Y I N K A &nbsp; & &nbsp; O L U W A T O Y I N</h4>
          <h4 class="pb-4">F O U N D A T I O N</h4>
          <p class="py-4">
            It all started in 2008 when Yinka decided to empower the kids and youth of his hometown, Ijebu, with
            quality education through financial aid by awarding the best students of a class full scholarship at both
            secondary and university level.
          </p>
          <p class="py-4">
            The AOOF is a non-profit organization set up to assist destitute students attain a Secondary Education and
            a University Degree in Accounting. The folks at AOOF have decades of diverse experience in
            entreprenuership, finance and technology among others.
          </p>
          <p class="py-4">
            Source of funding majorly comes from donations made by the board internally while a couple of sponspors do
            contribute from time to time. The AOOF is open to donations and grants from any individual or institution
            both locally and globally.
          </p>
        </div>
      </div>
    </div>
    <div class="mobile">
      <div class="row">
        <div class="col-3 header-line my-auto"></div>
        <div class="col-1 header-text my-auto text-center">0 1</div>
        <div class="col-1 header-line my-auto"></div>
        <div class="col-4 header-text my-auto text-center">O U R &nbsp; S T O R Y</div>
        <div class="col-3 header-line my-auto"></div>
      </div>
      <div class="mx-3 mt-5">
        <h4>A L E S E &nbsp; O L A Y I N K A &nbsp; & &nbsp; O L U W A T O Y I N</h4>
        <h4 class="pb-4">F O U N D A T I O N</h4>
        <p class="py-4">
          It all started in 2008 when Yinka decided to empower the kids and youth of his hometown, Ijebu, with
          quality education through financial aid by awarding the best students of a class full scholarship at both
          secondary and university level.
        </p>
        <p class="py-4">
          The AOOF is a non-profit organization set up to assist destitute students attain a Secondary Education and
          a University Degree in Accounting. The folks at AOOF have decades of diverse experience in
          entreprenuership, finance and technology among others.
        </p>
        <p class="py-4">
          Source of funding majorly comes from donations made by the board internally while a couple of sponspors do
          contribute from time to time. The AOOF is open to donations and grants from any individual or institution
          both locally and globally.
        </p>
      </div>
    </div>
    <div class="pt-5"></div>
    <h4 class="ml-5 my-5">T H E &nbsp; B O A R D</h4>
    <div class="row wide-view">
      <div class="col-lg-3 col-md-4 col-sm-4">
        <img src="../img/dad.png" alt="chairman">
      </div>
      <div class="col-lg-5 col-md-6 col-sm-6 my-auto">
        <h4>O L A Y I N K A &nbsp; A L E S E &nbsp; - &nbsp; C H A I R M A N</h4>
        <p>
          Yinka is a chartered accountant who is happily married with 4 kids. He is currently a director in public
          service at the Federal Inland Revenue Services in Nigeria. Yinka resides with his family in Lagos, Nigeria
          and quite frequently goes back to his hometown Ijebu- in the heart of Ogun, Nigeria.
        </p>
      </div>
    </div>

    <div class="row justify-content-end wide-view">
      <div class="col-lg-5 col-md-6 col-sm-6 my-auto">
        <h4>O L U W A T O Y I N &nbsp; A L E S E &nbsp; - &nbsp; M E M B E R</h4>
        <p>
          Toyin is happily married to Yinka and has been entrepreneur in the textile industry of Nigeria with decades
          of experience both locally and globally.
        </p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 text-right">
        <img src="../img/dummy.png" alt="member">
      </div>
    </div>
    <div class="row wide-view">
      <div class="col-lg-3 col-md-4 col-sm-4">
        <img src="../img/wura.png" alt="secretary">
      </div>
      <div class="col-lg-5 col-md-6 col-sm-6 my-auto">
        <h4>W U R A O L A &nbsp; A L E S E &nbsp; - &nbsp; S E C R E T A R Y</h4>
        <p>
          Wura is an Econmics graduate with a great passion for Technology leading to her pursuing a career in the IT
          industry. She currently works as a Software Engineer for Sankore Investment, Nigeria. Wura has strong belief
          that education gives anyone the power to become anything and transform the world.
        </p>
      </div>
    </div>

    <div class="row mb-5 slim-view">
      <div class="col-12">
        <img src="../img/dad-mobile.png" alt="chairman" class="px-2">
      </div>
      <div class="col-12 mt-2">
        <h4 class="px-2">O L A Y I N K A &nbsp; A L E S E &nbsp; -</h4>
        <h4 class="px-2">C H A I R M A N</h4>
        <p class="px-2">
          Yinka is a chartered accountant who is happily married with 4 kids. He is currently a director in public
          service at the Federal Inland Revenue Services in Nigeria. Yinka resides with his family in Lagos, Nigeria
          and quite frequently goes back to his hometown Ijebu in the heart of Ogun, Nigeria.
        </p>
      </div>
    </div>

    <div class="row my-5 slim-view justify-content-end">
      <div class="col-12">
        <img src="../img/dad-mobile.png" alt="chairman" class="px-2">
      </div>
      <div class="col-12 mt-2">
        <h4 class="px-2">O L U W A T O Y I N &nbsp; A L E S E &nbsp; -</h4>
        <h4 class="px-2">M E M B E R</h4>
        <p class="px-2">
          Toyin is happily married to Yinka and has been entrepreneur in the textile industry of Nigeria with decades
          of experience both locally and globally.
        </p>
      </div>
    </div>
    <div class="row my-5 slim-view">
      <div class="col-12">
        <img src="../img/wura-mobile.png" alt="secretary" class="px-2">
      </div>
      <div class="col-12 mt-2">
        <h4 class="px-2">W U R A O L A &nbsp; A L E S E &nbsp; -</h4>
        <h4 class="px-2">S E C R E T A R Y</h4>
        <p class="px-2">
          Wura is an Econmics graduate with a great passion for Technology leading to her pursuing a career in the IT
          industry. She currently works as a Software Engineer for Sankore Investment, Nigeria. Wura has strong belief
          that education gives anyone the power to become anything and transform the world.
        </p>
      </div>
    </div>
  </section>

  <div id="middle">
    <div id="" class="quote middle-quote text-center">
      <h1>One child, one teacher, one book, one pen can change the world</h1>
      <p>- Malala</p>
    </div>
  </div>

  <section class="section" id="work">
    <div class="row desktop">
      <div class="col-6">
        <div class="row">
          <div class="col-3 header-line my-auto"></div>
          <div class="col-1 header-text my-auto text-center">0 2</div>
          <div class="col-1 header-line my-auto"></div>
          <div class="col-3 header-text my-auto text-center">O U R &nbsp; W O R K</div>
          <div class="col-4 header-line my-auto"></div>
        </div>
        <div class="ml-5 mt-5">
          <h4>A O O F &nbsp; H A S &nbsp; S P O N S O R E D &nbsp; 2 9 &nbsp; S T U D E N T S</h4>
          <h4>T H R O U G H &nbsp; S I X &nbsp; Y E A R S &nbsp; O F &nbsp; S E C O N D A R Y</h4>
          <h4 class="pb-4">S C H O O L &nbsp; E D U C A T I O N.</h4>
          <p class="py-4">
            Every year, an examination is conducted for primary six students from six public schools in Ijebu and
            successful candidates move on to an oral interview with their parents/guardian. The top 5 students from
            this interview are awarded full Secondary School Education scholarship while the next 5 students are
            awarded books, uniforms and one year school fees payment.
          </p>
          <p class="py-4">
            A sum of 100,00 naira is also awarded to the best accounting students from 200 - 400 level at Olabisi
            Onabanjo University with the aim of encouraging students to keep pursuing quality education.
          </p>
          <p class="py-4">
            The aim of the foundation is to extend this program to students in more public schools in Ijebu as more
            funds are made available.
          </p>
        </div>
      </div>
    </div>
    <div class="mobile">
      <div class="row">
        <div class="col-3 header-line my-auto"></div>
        <div class="col-1 header-text my-auto text-center">0 2</div>
        <div class="col-1 header-line my-auto"></div>
        <div class="col-4 header-text my-auto text-center">O U R &nbsp; W O R K</div>
        <div class="col-3 header-line my-auto"></div>
      </div>
      <div class="mx-3 mt-5">
        <h4>A O O F &nbsp; H A S &nbsp; S P O N S O R E D &nbsp; 2 9 &nbsp; S T U D E N T S</h4>
        <h4>T H R O U G H &nbsp; S I X &nbsp; Y E A R S &nbsp; O F &nbsp; S E C O N D A R Y</h4>
        <h4 class="pb-4">S C H O O L &nbsp; E D U C A T I O N.</h4>
        <p class="py-4">
          Every year, an examination is conducted for primary six students from six public schools in Ijebu and
          successful candidates move on to an oral interview with their parents/guardian. The top 5 students from
          this interview are awarded full Secondary School Education scholarship while the next 5 students are
          awarded books, uniforms and one year school fees payment.
        </p>
        <p class="py-4">
          A sum of 100,00 naira is also awarded to the best accounting students from 200 - 400 level at Olabisi
          Onabanjo University with the aim of encouraging students to keep pursuing quality education.
        </p>
        <p class="py-4">
          The aim of the foundation is to extend this program to students in more public schools in Ijebu as more
          funds are made available.
        </p>
      </div>
    </div>


    <div class="text-center">
      <img src="../img/school-pic-3.png" alt="school-pic" class="school-pic m-3">
      <img src="../img/school-pic-1.png" alt="school-pic" class="school-pic m-3">
      <img src="../img/school-pic-2.png" alt="school-pic" class="school-pic m-3">
      <img src="../img/school-pic-4.png" alt="school-pic" class="school-pic m-3">
    </div>
    <p id="school-pic-text" class="text-center">
      Pictures from the last Primary 6 Scholarship Examination at Moslem Primary School,
      Ijebu, Ogun State, Nigeria.
    </p>
  </section>

  <section class="section" id="mission">
    <div class="row desktop">
      <div class="col-6">
        <div class="row">
          <div class="col-3 header-line my-auto"></div>
          <div class="col-1 header-text my-auto text-center">0 3</div>
          <div class="col-1 header-line my-auto"></div>
          <div class="col-4 header-text my-auto text-center">O U R &nbsp; M I S S I O N</div>
          <div class="col-3 header-line my-auto"></div>
        </div>
      </div>
    </div>
    <div class="row mobile">
      <div class="col-3 header-line my-auto"></div>
      <div class="col-1 header-text my-auto text-center">0 3</div>
      <div class="col-1 header-line my-auto"></div>
      <div class="col-4 header-text my-auto text-center">O U R &nbsp; M I S S I O N</div>
      <div class="col-3 header-line my-auto"></div>
    </div>
    <div class="text-center my-5 desktop">
      <h4>T O &nbsp; E R A D I C A T E &nbsp; I L L I T E R A C Y &nbsp; I N &nbsp; I J E B U &nbsp; B Y
        &nbsp; P R O V I D I N G </h4>
      <h4>F I N A N C I A L &nbsp; A I D &nbsp; T O &nbsp; B R I G H T &nbsp; & &nbsp; L O C A L &nbsp; S T U D E N T S
        &nbsp; W H O &nbsp; L A C K</h4>
      <h4 class="pb-4">T H E &nbsp; M E A N S &nbsp; O F &nbsp; F U N D I N G &nbsp; T H E I R &nbsp; E D U C A T I
        O N</h4>
    </div>
    <div class="mx-3 my-5 text-center mobile">
      <h4>TO ERADICATE ILLITERACY IN IJEBU BY PROVIDING FINANCIAL AID TO BRIGHT & LOCAL STUDENTS WHO LACK THE MEANS
        OF FUNDING THEIR EDUCATION
        <!-- TO ERA D I C A T E &nbsp; I L L I T E R A C Y &nbsp; I N &nbsp; I J E B U - O D E &nbsp; B Y
        &nbsp; P R O V I D I N G &nbsp; F I N A N C I A L &nbsp; A I D &nbsp; T O &nbsp; B R I G H T &nbsp; L O C A L
        &nbsp; S T U D E N T S
        &nbsp; W H O &nbsp; L A C K &nbsp; T H E &nbsp; M E A N S &nbsp; O F &nbsp; F U N D I N G &nbsp; T H E I R
        &nbsp; E D U C A T I O N -->
      </h4>
    </div>
  </section>

  <footer>
    <h4 class="ml-5 pt-5">C O N T A C T</h4>
    <p class="ml-5"> <a href="#">contact@aoofoundation.org</a> </p>
    <p class="text-right mr-5 py-4">Made with ❤️ by Wura</p>
  </footer>

</body>

</html>